body{
    color: #AF5DCB;
    background-color: #381844;
}

p{
    color: rgb(190, 162, 196);
}
.center{
    text-align: center;
}

.imgRedonda{
    width: 150px;
    height: 150px;
    border: 5px solid #AF5DCB;
    border-radius: 50%;
    margin-top: 2%;
}

.imgQuadrada{
    width: 300px;
    height: 150px;
    border: 5px solid #AF5DCB;
    border-radius: 15%;
    margin-top: 0.5%;
}
.imgQuadradaGrande{
    width: 400px;
    height: 300px;
    border-radius: 5%;
    margin-bottom: 10%;
}
.secColor{
    background-color: #60127a;
    width: 350px;
    height: 100%;
    border-radius: 5%;
}
nav {
    background-color: #58256A;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


ul {
    display: flex;
    justify-content: space-between;
}


li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #AF5DCB;
}


a:hover {
    color: #A2375D;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}